on property:sys.boot_completed=1
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/*
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/*
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/*
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/schedutil/*
    chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0644 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod 0644 /dev/stune/top-app/schedtune.boost
    chmod 0644 /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq

    # Run spectrum helper script
    exec u:r:init:s0 -- /init.spectrum.sh
    exec u:r:magisk:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1
    # Add kernel name
    setprop persist.spectrum.kernel LoverOriented

# Balance
on property:persist.spectrum.profile=0 && property:persist.boot_completed.delay=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 518400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1824000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2323200
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 762
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 1000

# Performance
on property:persist.spectrum.profile=1 && property:persist.boot_completed.delay=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1824000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1804800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2457600
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 5195
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500

# Battery
on property:persist.spectrum.profile=2 && property:persist.boot_completed.delay=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1574400
    write /dev/stune/top-app/schedtune.boost 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 6
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 4
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 762
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 10000

# Gaming
on property:persist.spectrum.profile=3 && property:persist.boot_completed.delay=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 518400
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1900800
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 806400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804800
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /sys/class/kgsl/kgsl-3d0/min_pwrlevel 4
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
    write /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq 5195
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
